.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 900px;
}

.skills > div {
  border: solid white 2px;
  padding: 5px;
  margin: 20px;
  font-size: 24px;
}
