.workTiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.workPieces {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.workPieces > div {
  width: 25vw;
  height: 200px;
  border: solid white 2px;
}
